%h1 
  = link_to('Clients', admin_clients_path) 
  >> #{@client.name}
%p
  =semantic_form_for [:admin,@client] do |f|
    =f.inputs
    =f.buttons
%hr
  = link_to("New", new_admin_client_path)
  %br
  = link_to 'Destroy', [:admin,@client], :confirm => 'Are you sure?', :method => :delete