%h1 
  = link_to('Tasks', admin_tasks_path) 
  >> #{@task.name}
%p
  =semantic_form_for [:admin,@task] do |f|
    =f.inputs
    =f.buttons
%hr
  = link_to("New", new_admin_task_path)
  %br
  = link_to 'Destroy', [:admin,@task], :confirm => 'Are you sure?', :method => :delete