%h1 
  = link_to('<%=plural_name.capitalize%>', admin_<%=plural_name%>_path) 
  >> #{@<%=file_name%>.name}
%p
  =semantic_form_for [:admin,@<%=file_name%>] do |f|
    =f.inputs
    =f.buttons
%hr
  = link_to("New", new_admin_<%=file_name%>_path)
  %br
  = link_to 'Destroy', [:admin,@<%=file_name%>], :confirm => 'Are you sure?', :method => :delete